In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [4]:
for m in [50, 100, 1000, 10000]:
    c = np.random.randint(0, 100, size=m)# c is temp in celeious
    f = (9/5) * c + 32 # equation needed to convert tempreture from celecios to fehrenhite
    f = f + np.random.normal() # Add noise to values in f to test if the parameter,weight values effects because of this noise
    # Reshape for x(Independent) and y(dependent)
    x = c.reshape(-1, 1)
    y = f.reshape(-1, 1)

    model = LinearRegression()

    model.fit(x, y)    

    print(f"m: {model.coef_}, b: {model.intercept_}")

m: [[1.8]], b: [30.36961366]
m: [[1.8]], b: [32.16872075]
m: [[1.8]], b: [32.54786706]
m: [[1.8]], b: [30.88520338]

In [10]:
# do same thing happen above but with size = 100 and with no noise add to f values
c = np.random.randint(0, 100, size=100)
f = (9/5) * c + 32
x = c.reshape(-1, 1)
y = f.reshape(-1, 1)
model = LinearRegression()
model.fit(x, y)
model.coef_, model.intercept_

(array([[1.8]]), array([32.]))

In [ ]:
# NOTES that the parameters values m,b its accurate (m=9\5=1.8),(b=32)

In [13]:
#print data frame 
data = pd.DataFrame({
    "c": c,
    "f": f
})
data

     c      f
0   86  186.8
1   44  111.2
2   49  120.2
3   45  113.0
4   11   51.8
..  ..    ...
95  84  183.2
96  36   96.8
97  37   98.6
98  89  192.2
99  22   71.6

[100 rows x 2 columns]