## 1.1) Load LibrariesÂ¶
Import all necessary libraries for the project.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Step 1.2 Load the dataset

In [12]:
df = pd.read_csv("housing.csv")
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

### 2.1) Descriptive Statistics
Generate summary statistics for the dataset.

### 2.2) Data Visualizations
Visualize the data to identify patterns and relationships.