# Machine Learning Project Template
* This notebook provides a structured template for building an end-to-end machine learning project.
* Re-use this notebook througout your learning and in capstone project

## <b> <font color=green> STEP (1) Problem Definition, Scoping & Framing </font> </b>

### 1.1) Load Libraries
Import all necessary libraries for the project.

In [2]:
import pandas as pd

### 1.2) Load The Dataset
Load the dataset and display the first few rows.

In [3]:
df = pd.read_csv("housing.csv")
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

## <b> <font color=green> STEP (2) Data Exploration & Understanding </font> </b>

### 2.1) Descriptive Statistics
Generate summary statistics for the dataset.

In [4]:
summary = df.describe()
print(summary)

       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
count       5000.000000          5000.000000                5000.000000
mean       68583.108984             5.977222                   6.987792
std        10657.991214             0.991456                   1.005833
min        17796.631190             2.644304                   3.236194
25%        61480.562390             5.322283                   6.299250
50%        68804.286405             5.970429                   7.002902
75%        75783.338665             6.650808                   7.665871
max       107701.748400             9.519088                  10.759588

       Avg. Area Number of Bedrooms  Area Population         Price
count                   5000.000000      5000.000000  5.000000e+03
mean                       3.981330     36163.516039  1.232073e+06
std                        1.234137      9925.650114  3.531176e+05
min                        2.000000       172.610686  1.593866e+04
25%                        3.140000     29403.928700  9.975771e+05
50%                        4.050000     36199.406690  1.232669e+06
75%                        4.490000     42861.290770  1.471210e+06
max                        6.500000     69621.713380  2.469066e+06

### 2.2) Data Visualizations
Visualize the data to identify patterns and relationships.

In [5]:
!pip install matplotlib seaborn

Requirement already satisfied: matplotlib in /home/s22s171/.local/lib/python3.8/site-packages (3.7.5)
Requirement already satisfied: seaborn in /home/s22s171/.local/lib/python3.8/site-packages (0.13.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: cycler>=0.10 in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: numpy<2,>=1.20 in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: pillow>=6.2.0 in /home/s22s171/.local/lib/python3.8/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pandas>=1.2 in /home/s22s171/.local/lib/python3.8/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: six>=1.5 in /home/s22s171/.local/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /home/s22s171/.local/lib/python3.8/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib) (3.20.2)
Requirement already satisfied: pytz>=2020.1 in /home/s22s171/.local/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in /home/s22s171/.local/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2025.2)

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns
# Heatmap - 
plt.figure(figsize=(10, 6))
sns.heatmap(df.corr(), annot=True, cmap='Blues')
plt.title("Correlation Matrix")
plt.show()

# Pairplot - 
sns.pairplot(df)
plt.suptitle("Pairplot of Features", y=1.02)
plt.show()

# Scatterplot - 
plt.figure(figsize=(6, 4))
sns.scatterplot(x='Avg. Area Income', y='Price', data=df)
plt.title("Price vs. Avg. Area Income")
plt.show()

#  Histogram - 
plt.figure(figsize=(6, 4))
sns.histplot(df['Price'], bins=10, kde=True)
plt.title("Distribution of House Prices")
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

## <b> <font color=green> STEP (3) Data Preparation & Feature Engineering </font> </b>

### 3.1) Data Cleaning
Handle missing values and outliers.

### 3.1) Feature Selection
Select the most relevant features for the model.

### 3.2) Data Transforms
Apply transformations to prepare the data for modeling.

## <b> <font color=green> STEP (4)  ML Model Selection & Evaluation </font> </b>

### 4.1) Split-out Validation Dataset
Split the dataset into training and validation sets.

### 4.2) Test Options and Evaluation Metric
Define the evaluation metric for the model.

### 4.3) Spot Check Algorithms
Test multiple algorithms to identify the best-performing one.

## <b> <font color=green> STEP (4)  Performance Tuning & Optimization </font> </b>

### 4.1) Algorithm Tuning
Optimize hyperparameters for better performance.

### 4.2) Ensembles
Combine multiple models to improve accuracy.

## <b> <font color=green> STEP (6) Results Interpretation & Deployment </font> </b>

### 6.1) Predictions on Validation Dataset
Make predictions using the validation dataset.

### 6.2) Create Standalone Model on Entire Training Dataset
Train the final model on the entire dataset.

### 6.3) Save Model for Later Use
Save the trained model to a file.